body {
    background-color: #080a0b;
    color: white;
}

header {
    background-color: rgb(117, 16, 16);
    position: relative;
    display: flex;
    padding: 15px;
    margin-top: 3%;
    flex-direction: row;
    justify-content: space-between;
}

header div ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
    margin-right: 15px;
    text-decoration: white;
}

header div ul li {
    display: flex;
    float: left;
    position: relative;
    padding: 10px;
    color: white;
}

.item {
    margin-top: 0%;
    width: 50%;
}

.logo {
    color: blue;
    margin-top: -3%;
    text-decoration: rgb(255, 254, 254);
    display: flex;
    position: relative;
    flex-direction: row;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
 
}

.shadow {
    box-shadow: 0.1em 0.1em 0.3em rgba(0,0,0,0.3);

}

.card {
    width: 50%;
    border-radius: 5px;
    margin: 15px;
    float: right;
    flex-direction: row;
    display: block;
}

.card img {
    width: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    float: right;
}

.article-header {
    display:flex;
    flex-direction: row;
    padding: 10px;
}

.card p {
    padding: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 20px;
    display: flex;
    margin-block-start: 2px;
    margin-block-end: 5px;
    margin-inline-start: 2px;
    margin-inline-end: 2px;

}

.article-header div:first-child {
    font-size: 18px;
    font-weight: bold;

}

.card a {
    width: 10%;
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 10px;
    display:block;
    text-align: center;
    float:right;
    margin-bottom: 10px;
    margin-right: 10px;
}

footer {
    align-items: center;
    padding-top: 100%;
    display: flex;
    text-align: center;
    float: right;
    color: white;

}